@model Core.DTOs.ActasEU.AddActaEUViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Shared/Views/Shared/_Layout.cshtml";
}

<div class="m-content" style="width: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Agregar Acta
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table m-table--head-bg-success">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                Actividad Extension Universitaria
                                            </th>
                                            <th>
                                                Equivalencia en horas de Extension
                                            </th>
                                            <th>
                                                Canitdad Horas Realizadas
                                            </th>
                                            <th>
                                                Canitad Horas de Extension
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                            <th>
                                                Lugar/Profesor/Tutor
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>a</td>
                                            <td>b</td>
                                            <td></td>
                                            <td><input type="text" /></td>
                                            <td><input type="text" /></td>
                                            <td><input type="text" /></td>
                                            <td><input type="text" /></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--end::Section-->

                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-10">
                                    <button type="reset" class="btn btn-success">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);
        ko.applyBindings(dataViewModel);
    </script>
}