@model Core.DTOs.ActasEU.AddActaEUViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Shared/Views/Shared/_Layout.cshtml";
}

<div class="m-content" style="width: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Agregar Acta
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Cedula de Identidad
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                    </div>
                    <div class="form-group m-form__group">
                        <label>
                           Carrera
                        </label>
                        
                            <select class="form-control m-bootstrap-select m_selectpicker" data-bind="options: carrerasExistentes,
                                                    optionsValue: 'value',
                                                   optionsText: 'text',
                                                   value: carreraSeleccionadaId,
                                                   optionsCaption: 'Seleccione una opcion'">
                                
                            </select>
                        
                    </div>

                    <div class="m-portlet__body" data-bind="foreach: categorias">
                        <div class="form-group m-form__group">
                            <label data-bind="text: nombre ()+ ' ('+descripcion()+')'">

                            </label>

                            <table class="table m-table--head-bg-success form-control m-input">
                                <thead>
                                    <tr>
                                        <th>
                                            Actividad Extension Universitaria
                                        </th>

                                        <th>
                                            Canitdad Horas Realizadas
                                        </th>
                                        <th>
                                            Canitad Horas de Extension
                                        </th>
                                        <th>
                                            Fecha Inicio
                                        </th>
                                        <th>
                                            Fecha Fin
                                        </th>
                                        <th>
                                            Lugar/Profesor/Tutor
                                        </th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: detalle">
                                    <tr>

                                        <td data-bind="text: caracter()+' - '+nombre()"></td>
                                        <td><input type="text" data-bind="value: horasRelojRealizadas" /></td>
                                        <td><input type="text" data-bind="value: horasExtensionRealizadas" /></td>
                                        <td><input value="" class="form-control datepicker" style="width: 100% !important;" data-bind="datepicker: fechaInicio, datepickerOptions: {language: 'es'}"></td>
                                        <td><input value="" class="form-control datepicker" style="width: 100% !important;" data-bind="datepicker: fechaFin, datepickerOptions: {language: 'es'}"></td>
                                        <td><input type="text" data-bind="value: lugarProfesorTutor" /></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="m-section__content">

                            </div>
                        </div>
                        <!--end::Section-->

                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-10">
                                    <button type="reset" class="btn btn-success">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);
        ko.applyBindings(dataViewModel);
    </script>
}