@model Core.DTOs.Reportes.ReporteIndexViewModel

<div class="m-content" style="width: 100%">
    <div class="m-portlet m-portlet--mobile">
        @{
            Html.RenderPartial("~/Areas/Shared/Views/Shared/_ErrorDiv.cshtml");
            Html.RenderPartial("~/Areas/Shared/Views/Shared/_SuccessDiv.cshtml");
        }

        <div class="m-portlet__head">

            <div class="m-portlet__head-caption">

                <div class="m-portlet__head-title">

                    <h3 class="m-portlet__head-text">
                        Reporte Mensual
                    </h3>
                </div>
            </div>
        </div>


        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-3">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label>
                                            Carrera:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control m-input m-input--square" id="reporteCarreraSelect" data-bind="options: carrerasExistentes,
                                               optionsValue: 'value',
                                               optionsText: 'text',
                                               value: carreraId,
                                               optionsCaption: 'Seleccione una opcion'"></select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label class="m-label m-label--single">
                                            Mes:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control m-input m-input--square" id="reporteMesesSelect" data-bind="options: mesesExistentes,
                                               optionsValue: 'value',
                                               optionsText: 'text',
                                               value: mes,
                                               optionsCaption: 'Seleccione una opcion'"></select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label class="m-label m-label--single">
                                            Anho:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <select class="form-control m-input m-input--square" id="reporteAnhosSelect" data-bind="options: anhosExistentes,
                                               optionsValue: 'value',
                                               optionsText: 'text',
                                               value: anho,
                                               optionsCaption: 'Seleccione una opcion'"></select>
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-3">
                                <button data-bind="click: getReporteMensual" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                    <span>
                                        <span>
                                            Generar
                                        </span>
                                    </span>
                                </button>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->

            <table class="" id="reporteMensualTable" width="100%">
                    <thead>
                        <tr>
                            <th title="Field #1">
                                Actividades EU
                            </th>
                            <th title="Field #2">
                                Tarea
                            </th>
                            <th title="Field #3">
                                Cantidad
                            </th>
                            <th>
                                Lugar
                            </th>
                            <th>
                                Organizador de la actividad
                            </th>
                            <th>
                                Ejecutor Varon
                            </th>
                            <th>
                                Ejecutor Mujer
                            </th>
                            <th>
                                Beneficiarios Institucion
                            </th>
                            <th>
                                Beneficiarios Personas Varon
                            </th>
                            <th>
                                Beneficiarios Personas Mujeres
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: actividades">
                       
                        <tr>
                            <td title="Field #1" data-bind="text: actividadEU">
                                
                            </td>
                            <td title="Field #2" data-bind="text: tarea">
                                
                            </td>
                            <td title="Field #3" data-bind="text: cantidad">
                                
                            </td>
                            <td title="Field #4" data-bind="text: lugar">
                                
                            </td>
                            <td title="Field #5" data-bind="text: organizador">
                                  
                            </td>
                            <td title="Field #6" data-bind="text: ejecutorVaron">
                                
                            </td>
                            <td title="Field #7" data-bind="text: ejecutorMujer">
                                
                            </td>
                            <td title="Field #8" data-bind="text: beneficiariosInstitucion">
                                
                            </td>
                            <td title="Field #9" data-bind="text: beneficiarosPersonasVaron">
                                
                            </td>
                            <td title="Field #10" data-bind="text: beneficiariosPersonasMujer">
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!--end: Datatable -->
        </div>
    </div>
</div>
@section scripts{
    <script>

        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);
        var datatable;
        dataViewModel.getReporteMensual = function () {
            $.ajax({
                url: "@Url.Action("GetReporteMensual", "Reportes")",
                type: "POST",
                data: { mes: dataViewModel.mes(), year: dataViewModel.anho(), carreraId: dataViewModel.carreraId() },
                success: function (response) {
                    console.log(response)
                    datatable.destroy();
                    initDataTable();
                },
                error: function () {
                    showError();
                }
            });
        }
        ko.applyBindings(dataViewModel);
        $(document).ready(function () {
            initDataTable();
        });



        function initDataTable()
        {
            datatable = $('#reporteMensualTable').mDatatable({
                data: {
                    saveState: { cookie: false },
                },
                search: {
                    input: $('#generalSearch'),
                },

            });            
        }
    </script>
}
