
@model Core.DTOs.Estudiantes.UpsertEstudianteViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Shared/Views/Shared/_Layout.cshtml";
}

<div class="m-content" style="width: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tab">
                @{
                    Html.RenderPartial("~/Areas/Shared/Views/Shared/_ErrorDiv.cshtml");
                    Html.RenderPartial("~/Areas/Shared/Views/Shared/_SuccessDiv.cshtml");
                }
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Estudiante
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        Html.RenderPartial("~/Areas/Shared/Views/Shared/_ErrorDiv.cshtml");
                        Html.RenderPartial("~/Areas/Shared/Views/Shared/_SuccessDiv.cshtml");
                    }
                </div>
                <!--begin::Form-->
                <form id="form" class="m-form m-form--fit m-form--label-align-right" data-bind="submit: postDataToController">
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Cedula de Identidad
                        </label>
                        <input type="text" class="form-control m-input" id="" name="cedulaIdentidad" aria-describedby="emailHelp" placeholder="" data-bind="value: cedulaIdentidad">

                    </div>
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Nombre
                        </label>
                        <input type="text" class="form-control m-input" id="" name="nombre" aria-describedby="emailHelp" placeholder="" data-bind="value: nombre">

                    </div>
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Apellido
                        </label>
                        <input type="text" class="form-control m-input" id="" name="apellido" aria-describedby="emailHelp" placeholder="" data-bind="value: apellido">

                    </div>
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Sexo
                        </label>
                        <select class="form-control m-input m-input--square" id="" name="sexo" data-bind="options: sexoExistentes,
                                optionsValue: 'value',
                               optionsText: 'text',
                               value: sexo,
                               optionsCaption: 'Seleccione una opcion'"></select>

                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Carrera
                        </label>
                        <select class="form-control m-input m-input--square" id="" name="carrera" data-bind="options: carrerasExistentes,
                                optionsValue: 'value',
                               optionsText: 'text',
                               value: carreraId,
                               optionsCaption: 'Seleccione una opcion'"></select>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success">
                                        Guardar
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);

        dataViewModel.postDataToController = function () {
            if ($("#form").valid()) {
                $.ajax({
                    url: "@Url.Action("Upsert", "Estudiantes")",
                    type: "POST",
                    data: { model: ko.toJSON(dataViewModel) },
                    success: function (response) {
                        if (response.success) {
                            if (response.id == 0) {
                                showSuccess(response.message)
                            } else {
                                window.location.replace(response.message);
                            }
                            
                        } else {
                            showError(response.message);
                        }
                    },
                    error: function () {
                        showError();
                    }
                });
            }

            return false;
        }
        $(document).ready(function ()
        {
            $('#form').validate({
                rules: {
                    cedulaIdentidad: {
                        required: true,
                    },
                    nombre: {
                        required: true,
                    },
                    apellido: {
                        required: true,
                    },
                    sexo: {
                        required: true,
                    },
                    carrera: {
                        required: true
                    }
                },
                errorPlacement: function (error, element) {
                    var span = element.siblings('span');
                    error.appendTo(span);
                }
            });
        })
        ko.applyBindings(dataViewModel);
    </script>
}

